body{
  background-color:lightyellow;
}

h1{
  text-align:center;
  color:maroon;
}

p{
  font-size: 30px;
}
hr{
border-color:black;
background-color: black;
border-radius: 50%;
border-style: dotted none none;
height:2px;

}
